<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
  </head>
  <body>

    <div class="container ">
         
      <div class="col-sm-8 main-section">
        <div class="modal-content ">
          <form class="col-12">

             <div class="md-12 ">
                 
                     
                     
                   </div>
           
                   <div class="mb-12">

                      <div class="container">
                          <div class="card-deck mb-3 text-center">
                              <div class="card mb-4 shadow-sm" style="width: 1rem">
                                  <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/20/PNG/128/businessapplication_edit_male_user_thepencil_theclient_negocio_2321.png" alt="Card image cap" >
                                  <div class="card-body">
                                    
                                    <button type="button" class="btn btn-lg btn-block btn-primary " routerLink="/estudianteadd">Registrar</button>
                                  </div>
                                </div>
                            <div class="card mb-4 shadow-sm" style="width: 1rem">
                                <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/20/PNG/128/businessapplication_accept_ok_male_man_you_negocio_2311.png" alt="Card image cap" >
                                <div class="card-body">
                                  
                                  <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/matriculaest">Matricular</button>
                                </div>
                              </div>
                            <div class="card mb-4 shadow-sm" style="width: 1rem">
                                <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/20/PNG/128/business_man_usersearch_thesearch_theclient_2356.png" alt="Card image cap" >
                                <div class="card-body">
                                  
                                  <button type="button" class="btn btn-lg btn-block btn-primary">Ficha</button>
                                </div>
                              </div>
                          </div> 
                        </div>
                   </div>   
                   
                   
                   <div class="mb-12">

                      <div class="container">
                          <div class="card-deck mb-3 text-center">
                              <div class="card mb-4 shadow-sm" style="width: 1rem">
                                  <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/20/PNG/128/business_man_user_support_supportfortheuser_aquestion_theclient_2330.png" alt="Card image cap" >
                                  <div class="card-body">
                                    
                                    <button type="button" class="btn btn-lg btn-block btn-primary " routerLink = "/estudiantelist">Consultar</button>
                                  </div>
                                </div>
                            <div class="card mb-4 shadow-sm" style="width: 1rem">
                                <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/1153/PNG/128/1486564180-finance-financial-report_81493.png" alt="Card image cap" >
                                <div class="card-body">
                                  
                                  <button type="button" class="btn btn-lg btn-block btn-primary">Ausentismo</button>
                                </div>
                              </div>
                            <div class="card mb-4 shadow-sm" style="width: 1rem">
                              <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/20/PNG/128/business_ordering_pencil_table_2333.png" alt="Card image cap" >
                              <div class="card-body">
                                
                                <button type="button" class="btn btn-lg btn-block btn-primary">Observaciones</button>
                              </div>
                            </div>
                          </div> 
                        </div>
                   </div>       
          </form>
    </div>
   </div>
 </div>
        
      
 <div>
  <router-outlet></router-outlet>
</div>

        
  </body>
</html>
