<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="cards">
    <form>
      <div class="container">
        <div >
          <label>Nombre: 
             <input [(ngModel)]="estudiante.Nombre" name= "Nombre" placeholder="Digite Un Nombre" type="text">
          </label>
       </div> 
    
            <div class="form-group">
                <label>Tipo Identificacion: 
                  <input [(ngModel)]="estudiante.TipoID" name= "TipoId" placeholder="Digite Un Tipo de Identificacion" type="text">
                </label>
                </div>

                <div class="form-group">
                    <label>Grado: 
                      <input [(ngModel)]="estudiante.Grado" name= "Grado" placeholder="Digite Grado" type="text">
                    </label>
                    </div>
            
      
                <div class="form-group">    
                    <label>Institucion: 
                        <input [(ngModel)]="estudiante.IdInstitucion" name= "Institucion" placeholder="Digite el numero de la Institucion" type="text">
                    </label>
                  </div>
                <div class="form-group">
      
                    <button (click)="add()" class="btn btn-primary">Agregar  </button>
                  </div>
</div>     
</form>
</div>
            
</body>
</html>


