  h1 { color: blue;  font-family: Arial;   font-size: large;  }
  h2 { color: yellowgreen;  font-family: Arial;   font-size: large;  }
  h3 { color: rgb(255, 0, 140);  font-family: Arial;   font-size: large;  }
  
  p  { color: rgb(126, 180, 126); font-family: Times 'Courier New'; font-size: medium; }